$navbar-background-color: #3f1911;
$quick-contact-box-shadow-size: 2px;

body {
  background: #444;
}

.landing-page-curtain {
  position: relative;
  height: 100%;
  background: url("../assets/hue-coffee-code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  filter: blur(5px);
}

.quick-contact-container {
  position: absolute;
  top: 30%;
  width: 100%;
  // margin: 0 auto;
  text-align: center;
  margin-top: -20px;
  color: #FFFFFF;
}

.quick-contact-box {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .5);
  border: black solid 1px;
  box-shadow: $quick-contact-box-shadow-size $quick-contact-box-shadow-size black inset,  $quick-contact-box-shadow-size*-1 $quick-contact-box-shadow-size*-1 black inset
}

.header-title {
}

.header-title h1 {
  // background: black;
}

.quick-contact-form {
  margin: 40px auto;
  & .form-group label {
    text-align: left;
    padding-left: 25px;
  }
}

.content {
  height: 100%;
  background-image: url("../assets/code-820275.jpg");
  background-attachment: fixed;
}

ul.navbar-nav li a {
  color: white;
}

ul.navbar-nav li a:hover {
  background-color: transparent;
}
ul.navbar-nav li a:focus {
  background-color: transparent;
}

nav {
  transition: all 1s;
}

.navbar-background-color {
  background-color: $navbar-background-color;
  //border: 1px solid white;
}

.navbar-header button span.icon-bar {
  background-color: white;
}

.menu-top-option {
  color: white;
  &:focus, &:hover {
    color: white;
  }
}

