@import url(https://fonts.googleapis.com/css?family=Roboto);

.about-me-header {
  display: block;
  margin-top: .5em;
  width: 100%;

  small {
    display: block;
    width: 100%;
  }
}

.about-me-picture {
  margin-top: 12em;
}

.about-me-paragraph {
  font-family: $font-secondary-family;
  font-size: 2.5em;
  margin-bottom: 12em;
  margin-top: 2em;
  text-align: center;

}