@import url(https://fonts.googleapis.com/css?family=Roboto);

#aboutme {
    /* min-height: 100vh; */
}

.about-me-header {
    display: block;
    margin-top: 2em;
    width: 100%;

    small {
        display: block;
        width: 100%;
    }
}

.about-me-picture {
    margin-top: 12em;
}

.about-me-paragraph {
    font-family: $font-secondary-family;
    font-size: 2.5em;
    margin-bottom: 9em;
    margin-top: 2em;
    text-align: center;
    line-height: 1.5em;

}
@media screen and (min-width: 1100px) {
    .about-me-header {
        font-size: 6em;
    }
    .about-me-paragraph {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 1400px) {
    .about-me-header {
        font-size: 7em;
    }
    .about-me-paragraph {
        font-size: 4.5em;
    }
}

@media screen and (min-width: 2560px) {
    .about-me-header {
        font-size: 10em;
    }
    .about-me-paragraph {
        font-size: 6.5em;
    }
}
