$contactme-background-color: #847563;
$contactme-header-color: #fff;

.contactme-area {
  background-color: $contactme-background-color;
  padding-bottom: 80px;
  padding-top: 80px;
  height: 90vh;

  h1,
  h2 {
    color: $contactme-header-color;
  }

  h2 {
    margin-bottom: 80px;
  }
}

.contactme-badge {
  margin-bottom: 1.5em;

  a {
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}

.contactme-title {
  font-size: 2em;
  text-decoration: none;
  color: #000;
}

