$previouswork-background-color: #fff;
$previouswork-tip-color: #777;

.previouswork-area {
  background-color: $previouswork-background-color;
  padding-bottom: 8em;
  padding-top: 8em;

  h1 {
    small {
      display: block;
      margin-top: .3em;
    }
  }
}

@media only screen and (min-width: 435px) {
  .previouswork-area h1 small {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.previouswork-list {
  li {
    cursor: pointer;
    margin-bottom: 6em;
    margin-top: 2em;
  }
}

.previouswork-tip {
  color: $previouswork-tip-color;
  text-align: center;
}
