$skillset-background-color: #847563;
$skillset-header-color: #fff;
$skillset-header-small-color: rgba(255, 255, 255, .56);
$skillset-tip-color: rgba(255, 255, 255, .56);

.skillset-area {
  background-color: $skillset-background-color;
  padding-bottom: 9em;
  padding-top: 9em;

  h1 {
    color: $skillset-header-color;

    small {
      color: $skillset-header-small-color;
      display: block;
    }
  }
}

.skillset-badges-list {
  margin: 3em 0;
  padding: 0;
}

.skillset-badges-row {
  display: block;
  text-align: center;
  width: 100%;
}

.skillset-badge {
  display: inline-block;
  margin: 2em 1em;
}

.skillset-tip {
  color: $skillset-tip-color;
  margin: 2em 0;
  text-align: center;
}

