$skillset-background-color: #847563;
$skillset-header-color: #fff;
$skillset-header-small-color: rgba(255, 255, 255, .56);
$skillset-tip-color: rgba(255, 255, 255, .56);

.skillset-area {
  background-color: $skillset-background-color;
  padding-bottom: 9em;
  padding-top: 9em;

  h1 {
    color: $skillset-header-color;

    small {
      color: $skillset-header-small-color;
      display: block;
    }
  }
}

.skillset-badges-list {
  margin: 3em 0;
  padding: 0;
}

li {
  list-style: none;
}

.skillset-badges-row {
  display: block;
  text-align: center;
  width: 100%;
}

.skillset-badge {
  /* display: inline-block; */
  /* margin: 2em 1em; */
  margin-bottom: 1.5em;
}

.skillset-tip {
  color: $skillset-tip-color;
  margin: 2em 0;
  text-align: center;
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.56);
  }
  a:visited {
    color: #fff;
  }
}

/* @media screen and (min-width: 1400px) { */
/*   .skillset-area h1 { */
/*     font-size: 4.5em; */
/*   } */
/* } */

.skillset-svg {
  max-width: 7em;
}

.devicon-d3js-plain {
  font-size: 6em;
}
/* if you want to change the original color */
/* path { */
/*   fill: #4691f6; */
/* } */

@media screen and (min-width: 1024px) {
  .skillset-area {
    height: 100vh;
  }

  .skillset-badges-list {
    margin-top: 20em;
  }

  .skillset-svg {
    max-width: 12em;
  }

.devicon-d3js-plain {
  font-size: 10em;
}
  
}