@import url(https://fonts.googleapis.com/css?family=Raleway);
$font-main-color: #e6e0cb;
$font-main-family: 'Raleway', sans-serif;
$quick-contact-box-shadow-size: 2px;
$content-background-color: #fff;
@import './landing-page';
@import './navbar';
@import './about-me';
@import './skill-set';
@import './previous-work';
@import './contact-me';
@import './footer';

body {
  font-family: $font-main-family;
}

a:focus {
  color: $font-main-color;
  text-decoration: none;
}


.content {
  background-color: $content-background-color;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
}




