$navbar-background-color: #3f1911;
$quick-contact-box-shadow-size: 2px;

body {
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page-curtain {
  height: 100%;
  background: url('../assets/hue-coffee-code.jpg');
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  filter: blur(3px);
  z-index: 1;
}

.quick-contact-container {
  position: absolute;
  top: 30%;
  width: 100%;
  // margin: 0 auto;
  text-align: center;
  margin-top: -20px;
  color: #FFFFFF;
  z-index: 1;
}

.quick-contact-box {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .5);
  border: black solid 1px;
  box-shadow: $quick-contact-box-shadow-size $quick-contact-box-shadow-size black inset,  $quick-contact-box-shadow-size*-1 $quick-contact-box-shadow-size*-1 black inset
}

.header-title {
}

.header-title h1 {
  // background: black;
}

.quick-contact-form {
  margin: 40px auto;
  & .form-group label {
    text-align: left;
    padding-left: 25px;
  }
}


ul.navbar-nav li a {
  color: white;
  &:hover:after {
    content: '';
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 5px;
    border: 1px dotted white;
  }
}

ul.navbar-nav li a:hover {
  background-color: transparent;
}
ul.navbar-nav li a:focus {
  background-color: transparent;
}

nav {
  transition: all 1s;
}

.navbar-background-color {
  background-color: $navbar-background-color;
  box-shadow: 0px -2px #2d120c inset;
  //border: 1px solid white;
}

.navbar-header button span.icon-bar {
  background-color: white;
}

.menu-top-option {
  color: white;
  &:focus, &:hover {
    color: white;
  }
}

.content {
  // height: 100%;
  // background-image: url("../assets/code-820275.jpg");
  // background-attachment: fixed;
  background-color: #ffffff;
  z-index: 2;
  position: absolute;
  top: 100%;
  width: 100%;
}

.about-me-header {
  margin-top: 40px;
}

.about-me-picture {
  margin-top: 80px;
}

.about-me-paragraph {
  margin-top: 20px;
  &:last-child {
    margin-bottom: 120px;
  }
}

.skillset-area {
  background-color: #847563; 
  padding-top: 80px;
  padding-bottom: 80px;
  & h1, h2 {
    color: white;
  }
  & h2 {
    margin-bottom: 80px;
  }
}

.badges-list li {
  margin-bottom: 10px;
  margin-top: 10px;
  &:nth-child(5n){
    margin-right: 50px;
  }
}

.previouswork-area {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  & h2 {
    margin-bottom: 80px;
    & small {
      display: inline-block;
      padding: 5px;
    }
  }
}

.previouswork-list {
  & li{
    margin-bottom: 60px;
    cursor: pointer;
  }
}

.contactme-area {
  background-color: #847563; 
  padding-top: 80px;
  padding-bottom: 80px;
  & h1, h2 {
    color: white;
  }
  & h2 {
    margin-bottom: 80px;
  }
}

.footer-area {
 background-color: $navbar-background-color;
 color: white;
 height: 50px;
 padding: 15px;
 & a {
  // color: white;
 }
}
